{% load static %}

<!-- Kop -->
<div>
    <table style="border: 0px solid black; padding: 0px 0px 3px 0px">
        <tbody>
        <tr>
            <td style="width: 50%; vertical-align: top; padding-right: 4em"><img src="{% static 'images/logo/ums_logo_full_color.png' %}" alt="Logo"></td>
            <td style="width: 50%; vertical-align: top; ">
                <br>
                <div class="kop-surat" style="font-size: 13px; font-weight: bold">UNIVERSITAS MUHAMMADIYAH SURAKARTA</div>
                <div class="kop-surat" style="font-size: 10px;">
                    Jl. A. Yani No.157, Pabelan, Kartasura, Sukoharjo, Jawa Tengah 57162
                    <br />
                    Telp: +62271717417 pws. 1122, 1162. Fax. 0271-715448
                    <br />
                    Website: <u style="color: blue;">https://www.ums.ac.id</u> | Email : <u style="color: blue;">bpsdm@ums.ac.id</u>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>